<%= simple_form_for(@net_form) do |f| %>
  <% if @net_form.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@net_form.errors.count, "error") %> prohibited this net_form from being saved:</h2>

      <ul>
      <% @net_form.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.input :first_name, label: "First Name", input_html: {class: "form-control"} %>
  </div>
  <div class="field">
    <%= f.input :last_name,label: "Last Name", input_html: {class: "form-control"} %>
  </div>
  <div class="field">
    <%= f.input :paynum, label: "Pay Number", input_html: {class: "form-control"} %>
  </div>
  <div class="field">
    <%= f.input :email, placeholder: 'user@domain.com', input_html: {class: "form-control"} %>
  </div>

  <div class="radio ">
    <label class="col-md-12">
      <input type="radio" name="net_form[service_cost]" value="none">
      No Charge
    </label>
    <label class="col-md-12">
      <input type="radio" name="net_form[service_cost]" value="125">
      $125: My device can't connect wirelessly and I need a data port installed in this room
    </label>
  </div>

  <div class="field">
    <%= f.input :equipment_type, collection: ["Desktop", "Laptop", "Tablet", "Smartphone"], label: "Device Type" %>
  </div>
  <div class="radio" style="font-size: 1.5em">
    <h3> Connection type </h3>
    <label class="col-md-12">
      <input type="radio" name="net_form[nic_connection]" value="125">
      Wireless
    </label>
    <label class="col-md-12">
      <input type="radio" name="net_form[nic_connection]" value="125">
      Wired
    </label>
    <label class="col-md-12">
      <input type="radio" name="net_form[nic_connection]" value="125">
      Both:
    </label>
  </div>
  <div class="field">
    <%= f.input :os_type, collection: ["Windows 8","Windows 7","Windows Vista","Windows XP", "MAC/OSX","iOS","Android","Other"], label: "Operating System", input_html: {class: "form-control"} %>
  </div>
  <div class="field">
    <%= f.input :antivir_type, label: "Antivirus Software", input_html: {class: "form-control"} %>
  </div>
  
  <div class="field">
    <%= f.label :complete_date %><br>
    <%= f.date_select :complete_date %>
  </div>
  
  
  <div class="field">
    <%= f.input :phone_number, input_html: {class: "form-control"} %>
  </div>
  <div class="field">
   <%= f.input :computer_name, input_html: {class: "form-control"} %>
  </div>
  <div class="field">
    <%= f.input :antivir_expire_date, as: :date %>
  </div>
  <div class="field printers">
    <h3> Printer IP Address </h3>
  </div>
  <div class="add_printer">
     <h3> + Add Printer </h3>
    </div>
  <div class="field">
    <%= f.input :technician_name, input_html: {class: "form-control"} %>
  </div>
  <div class="field">
    <%= f.input :completed, as: :boolean, boolean_style: :inline %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
