
<%= simple_form_for(@net_form) do |f| %>
  <% if @net_form.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@net_form.errors.count, "error") %> prohibited this net_form from being saved:</h2>

      <ul>
      <% @net_form.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.input :first_name, label: "First Name", input_html: {class: "form-control"} %>
  </div>
  <div class="field">
    <%= f.input :last_name,label: "Last Name", input_html: {class: "form-control"} %>
  </div>
  <div class="field">
    <%= f.input :office_number, label: "Office", input_html: {class: "form-control"} %>
  </div>
  <div class="field">
    <%= f.input :paynum, label: "Pay Number", input_html: {class: "form-control"} %>
  </div>
  <div class="field">
    <%= f.input :email, placeholder: 'user@domain.com', input_html: {class: "form-control"} %>
  </div>

  <div class="radio ">
    <h3> Service Cost </h3>
    <%= f.input :service_cost, as: :radio_buttons, collection: [["No Charge: I have a wireless device and/or there is an availible data port", "none"],["125: There are no data ports avalible at my workspace, I need one installed", "125"]], checked: @net_form.service_cost %>
  </div>

  <div class="field">
    <%= f.input :equipment_type, collection: ["Desktop", "Laptop", "Tablet", "Smartphone"], label: "Device Type", input_html: {class: "form-control"} %>
  </div>

  <div class="radio">
    <%= f.input :nic_connection, collection: [["Wired", "wired"],["Wireless", "wireless"],["Both","both"]], as: :radio_buttons, checked: @net_form.nic_connection %>
  </div>

  <div class="field">
    <%= f.input :os_type, collection: ["Windows 8","Windows 7","Windows Vista","Windows XP", "MAC/OSX","iOS","Android","Other"], label: "Operating System", input_html: {class: "form-control"} %>
  </div>
  <div class="field">
    <%= f.input :antivir_type, label: "Antivirus Software", input_html: {class: "form-control"} %>
  </div>
  
  
  <div class="field">
    <%= f.input :phone_number, placeholder: "123-456-7890", input_html: {class: "form-control"} %>
  </div>
  <div class="field">
   <%= f.input :computer_name, input_html: {class: "form-control"} %>
  </div>
  <div class="field">
    <%= f.input :antivir_expire_date %>
  </div>

  <div class="field printers">
    <h3> Printer IP Address </h3><button type="button" class="btn btn-xs btn-default add_printer">Add printer</button>
    <% if (@net_form.printer_ip.any?) %>

      <% @net_form.printer_ip.each do |p| %>
        <div class="new_printer"><input class="printer_input string optional" id="net_form_printer_ip" name="net_form[printer_ip][]" type="text" value="<%= p %>"></input><span class="remove_printer"><div class="btn btn-xs btn-default">-</div></span></div>
    <% end %>
  <% end %>

  </div>
  <div>
     
    </div>
  <div class="field">
    <%= f.input :technician_name, input_html: {class: "form-control"} %>
  </div>

  <div class="field">
    <p> 
      Form Complete Date 
      <%= @net_form.complete_date %>
    </p>
    <p> 
      Form Expire Date
      <%= @net_form.expire_date %>
    </p>

</div>

  <div class="field">
    <% if @net_form.expire_date != nil and Chronic.parse("today at 12:00am") > @net_form.expire_date %>
      <%= f.input :completed, as: :boolean, boolean_style: :inline, input_html: {checked: false} %>
    <%= @net_form.expire_date %>
    <% else %> 
      <%= f.input :completed, as: :boolean, boolean_style: :inline %>
    <% end %>
  </div>


  <!-- Button trigger modal -->
<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
  Submit
</button>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Test Form</h4>
      </div>
      <div class="modal-body">
        <p>
    <b> Before contacting the Help Desk, your PC must meet the following requirements! </b>
    </p><ul>
        <li>
          Up-to-date copy of antivirus software installed. If you antivirus sofware is not kept up-to-date, you may be blocked from using the network. If you do not have antivirus software can find a copy here <a href="http://www.microsoft.com/windows/antivirus-partners/windows-7.aspx"> here! </a>
        </li>
        <li>
          For wireless network setup of if using an existing wired port, your computer should be connected to an existing wired 
          connetion so that we can setup from a remote location.
        </li>
        <li>
          Using Windows XP Pro, Windows Vista, Windows 7, Windows 8, or MAC OS X version 10.1 and above 
        </li>
      </ul>
      
  
    <p>
    <b>This network Installation Involves the following services to you:</b>
      </p><ul>
        <li>
          Installation of a network wired or wireless connection from the office hub to your current desk 
        </li>
        <li>
          An ethernet network interface card and installation of the card in your computer if needed 
        </li>
        <li>
          Configuration of oporating system within our network 
        </li>
        <li>
          Configuration to print up to <b><i> three </i> </b> printers in the office
        </li>
      </ul>
    <p></p>
    
    <p> 
      If for any reason a technician must come onsite to setup an internet connection, charges will apply. 
    </p>
    
    <p>
    It is Real Estate One's policy to limit Internet access to official business. The Company utilizes software that makes is  possible to
    identify and block access to Internet sites containing material deemed inappropriate in the workplace.
    </p>
    
    <p>
    Based on the number of sales associates who connect to the system and the cost of servicing the system, Real Estate One reserves the right
    to charge a monthly access fee for a connection to the Real Estate One sales office network.
    </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Disagree</button>
        <%= f.submit %>
      </div>
    </div>
  </div>
</div>

<% end %>



<script>




</script>