<div class="result_wrapper">
  
<% @net_forms.each do |net_form| %>
    <!-- Get the deivce image based on what the user put in -->
    <% device_images = {"Desktop" => "screen.png", "Laptop" => "laptop.png", "Tablet" => "tablet.png", "Smartphone" => "mobile.png"} %>
    <% found_image = device_images.select{|k,v| k == net_form.equipment_type} %>
<div class="row col-sm-10 col-md-10">

    <div class="device_image col-md-2 col-sm-2">
        <%= image_tag(found_image.values.join(" ")) %>
    </div>

    <div class="col-md-3 col-sm-3">
        <%= net_form.first_name + " " + net_form.last_name %>
    </div>

    <div class="col-md-2 col-sm-2">
        <%= net_form.computer_name %>
    </div>

    <div class="col-md-4 col-sm-4">
        <% if net_form.completed == "0" or net_form.completed == nil %>
            <p> Incomplete </p>
        <% elsif net_form.completed == "1" and net_form.expire_date != nil and net_form.complete_date != nil and Chronic.parse("today at 12:00am") > net_form.expire_date %>

            <p> Form Expired </p>
        
        <% elsif net_form.completed == "1" and net_form.complete_date != nil and net_form.expire_date != nil and Chronic.parse("today at 12:00am") < net_form.expire_date %>

            <p> This form expires in <%= distance_of_time_in_words(Chronic.parse("today at 12:00 am"), net_form.expire_date)%></p>
        <% end %> 
    </div>

<div class="col-md-1 col-sm-1">
    <%= link_to 'Show', net_form %>
        <%= link_to 'Edit', edit_net_form_path(net_form) %>
        <%= link_to 'Destroy', net_form, method: :delete, data: { confirm: 'Are you sure?' } %>
    </div>

         
</div>    
       
 <% end %>
 </div> 