<div class="container-fluid">
<h1>Test Form</h1>

<!-- Laptop, Tablet, Smartphone -->
    <% @net_forms.each do |net_form| %>
    <!-- Get the deivce image based on what the user put in -->
    <% device_images = {"Desktop" => "screen.png", "Laptop" => "laptop.png", "Tablet" => "tablet.png", "Smartphone" => "mobile.png"} %>
    <% found_image = device_images.select{|k,v| k == net_form.equipment_type} %>
<div class="row">
<div class="device_image col-md-3">
    <%= image_tag(found_image.values.join(" ")) %>
</div>
<div class="col-md-3">
    <%= net_form.first_name + " " + net_form.last_name %>
    </div>

    <div class="col-md-3">
        <%= net_form.computer_name %>
    </div>

    <div class="col-md-3">
        <% if net_form.completed == "1" %>
        <p> This form expires in <%= distance_of_time_in_words(net_form.complete_date, net_form.expire_date)%></p>
        <% elsif net_form.completed == "0" %>
        <p> Incomplete </p>
        <% end %>
    </div>


   
        
        
     
</div>

<%# net_form.first_name %>
        <%# net_form.service_cost %>
        <%# net_form.equipment_type %>
        <%# net_form.nic_connection %>
        <%# net_form.os_type %>
        <%# net_form.antivir_type %>
        <%# net_form.paynum %>
        <%# net_form.complete_date %>
        <%# net_form.completed %>
        <%# net_form.email %>
        <%# net_form.phone_number %>
        <%# net_form.computer_name %>
        <%# net_form.antivir_expire_date %>
        <%# net_form.printer_ip.each do |ip| %>
          <%# ip %>
          <%# end %>
        <%# net_form.technician_name %>
        
        <%= link_to 'Show', net_form %>
        <%= link_to 'Edit', edit_net_form_path(net_form) %>
        <%= link_to 'Destroy', net_form, method: :delete, data: { confirm: 'Are you sure?' } %>
 <% end %>

<%= form_tag("/net_forms", method: "get") do %>
  <%= label_tag(:q, "Search for:") %>
  <%= text_field_tag(:q) %>
  <%= submit_tag("Search") %>
<% end %>





<br>

<%= link_to 'New Net form', new_net_form_path %>
</div>
