<%= form_tag("/search", method: "get") do %>
  <%= label_tag(:q, "Name") %>
  <%= text_field_tag(:q) %>
  <div class="adv_search_button"> Advanced </div>
  
<div class="adv_search">
  <%= label_tag(:q, "Completed") %>
  <%= text_field_tag(:q) %>

  <%= label_tag(:q, "Paynum") %>
  <%= text_field_tag(:q) %>

  <%= label_tag(:q, "Computer Name") %>
  <%= text_field_tag(:q) %>

  <%= label_tag(:q, "Office") %>
  <%= text_field_tag(:q) %>
</div>

  <%= submit_tag("Search") %>
<% end %>


<% @net_forms.each do |net_form| %>
    <!-- Get the deivce image based on what the user put in -->
    <% device_images = {"Desktop" => "screen.png", "Laptop" => "laptop.png", "Tablet" => "tablet.png", "Smartphone" => "mobile.png"} %>
    <% found_image = device_images.select{|k,v| k == net_form.equipment_type} %>
<div class="row">
<div class="device_image col-md-3">
    <%= image_tag(found_image.values.join(" ")) %>
</div>
<div class="col-md-3">
    <%= net_form.first_name + " " + net_form.last_name %>
    </div>

    <div class="col-md-3">
        <%= net_form.computer_name %>
    </div>

    <div class="col-md-3">
        <% if net_form.completed == "1" %>
        <p> This form expires in <%= distance_of_time_in_words(net_form.complete_date, net_form.expire_date)%></p>
        <% elsif net_form.completed == "0" %>
        <p> Incomplete </p>
        <% end %>
    </div>

         
</div>

        
        <%= link_to 'Show', net_form %>
        <%= link_to 'Edit', edit_net_form_path(net_form) %>
        <%= link_to 'Destroy', net_form, method: :delete, data: { confirm: 'Are you sure?' } %>
 <% end %>
