<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @net_form.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @net_form.last_name %>
</p>

<p>
  <strong>Service cost:</strong>
  <%= @net_form.service_cost %>
</p>

<p>
  <strong>Equipment type:</strong>
  <%= @net_form.equipment_type %>
</p>

<p>
  <strong>Nic connection:</strong>
  <%= @net_form.nic_connection %>
</p>

<p>
  <strong>Os type:</strong>
  <%= @net_form.os_type %>
</p>

<p>
  <strong>Antivir type:</strong>
  <%= @net_form.antivir_type %>
</p>

<p>
  <strong>Paynum:</strong>
  <%= @net_form.paynum %>
</p>

<p>
  <strong>Complete date:</strong>
  <%= @net_form.complete_date %>
</p>

<strong> Printer IP: </strong>
<%= @net_form.printer_ip %>

<p>
  <strong>Completed:</strong>
  <%= @net_form.completed %>
</p>

<p>
  <strong>Email:</strong>
  <%= @net_form.email %>
</p>

<p>
  <strong>Phone number:</strong>
  <%= @net_form.phone_number %>
</p>

<p>
  <strong>Computer name:</strong>
  <%= @net_form.computer_name %>
</p>

<p>
  <strong>Antivir expire date:</strong>
  <%= @net_form.antivir_expire_date %>
</p>

<p>
  <strong>Technician name:</strong>
  <%= @net_form.technician_name %>
</p>

<%= link_to 'Edit', edit_net_form_path(@net_form) %> |
<%= link_to 'Back', net_forms_path %>
