<p id="notice"><%= notice %></p>
<div class="row">

  <div class="col-md-4 col-sm-4">
<% device_images = {"Desktop" => "screen.svg", "Laptop" => "laptop.svg", "Tablet" => "tablet.svg", "Smartphone" => "mobile.svg"} %>
    <% found_image = device_images.select{|k,v| k == @net_form.equipment_type} %>
    <%= image_tag(found_image.values.join(" "), width: "200px") %>
  </div>

<div class="col-md-8 col-sm-8">

  <h2> About User </h2>
      <p>
        <strong>First name: </strong>
        <%= @net_form.first_name %>
      </p>

      <p>
        <strong>Last name: </strong>
        <%= @net_form.last_name %>
      </p>

      <p>
        <strong>Paynum: </strong>
        <%= @net_form.paynum %>
      </p>

      <p>
        <strong>Office: </strong>
        <%= @net_form.office_number %>
      </p>

      <p>
        <strong>Phone number: </strong>
        <%= @net_form.phone_number %>
      </p>

      <p>
        <strong> Email: </strong>
        <%= @net_form.email %>
      </p>

      <p>
        <strong> Service cost: </strong>
        <%= @net_form.service_cost %>
      </p>

      <h2> About Device </h2>

      <p>
        <strong>Computer name: </strong>
        <%= @net_form.computer_name %>
      </p>

      <p>
        <strong> Device Type: </strong>
        <%= @net_form.equipment_type %>
      </p>

      <p>
        <strong>Connection Type: </strong>
        <%= @net_form.nic_connection %>
      </p>

      <p>
        <strong>Operating System: </strong>
        <%= @net_form.os_type %>
      </p>

      <p>
        <strong>Antivirus Software: </strong>
        <%= @net_form.antivir_type %>
      </p>

      <p>
        <strong> Antivirus Expire Date: </strong>
        <%= @net_form.antivir_expire_date %>
      </p>

      <p>
      <strong> Printer IP: </strong>
      <% if @net_form.printer_ip.empty? %>
        None recorded
      <% else %>
        <% @net_form.printer_ip.each do |ip| %>
          <%= ip %>
        <% end %>
      <% end %>
      </p>

      <h2> Other </h2>

      <p>
        <strong> Completed By: </strong>
        <%= @net_form.technician_name %>
      </p>

      <p>
        <strong>Complete Date:</strong>
        <%= @net_form.complete_date %>
      </p>

      <p>
        <strong>Completed: </strong>
        <% if @net_form.completed == "1" %>
        Yes
        <% elsif %>
        No
        <% end %>
      </p>

      <p>
        <strong>Form Expire Date:</strong>
        <%= @net_form.expire_date %>
      </p>

      <p>
        <strong>Form Creation Date:</strong>
        <%= @net_form.created_at %>
      </p>

      <p>
        <strong>Last Updated On:</strong>
        <%= @net_form.updated_at %>
      </p>

  </div>
</div>

<%= link_to 'Edit', edit_net_form_path(@net_form) %> |
<%= link_to 'Back', net_forms_path %>
