<%= @hello %>

<div class="main_result_wrapper">

    <!-- Column Headers -->

    <div class="row hidden-xs col-sm-10 col-md-10 header-row">

        <div class="device_image col-md-2 col-sm-2">
         <span class="header-text"> Device </span>
     </div>

     <div class="col-md-3 col-sm-3">
        <span class="header-text"> Agent Name </span>
    </div>

    <div class="col-md-2 col-sm-2">
        <span class="header-text"> CPU Name </span>
    </div>

    <div class="col-md-4 col-sm-4">
        <span class="header-text"> Status </span>
    </div>

    <div class="col-md-1 col-sm-1">
        <span class="header-text"> Options </span>
    </div>

</div> 
<!-- Column Headers end -->
<div class="result_rows">
    <% @forms.each do |form| %>
    <!-- Get the deivce image based on what the user put in -->
    <% device_images = {"Desktop" => "screen.svg", "Laptop" => "laptop.svg", "Tablet" => "tablet.svg", "Smartphone" => "mobile.svg"} %>
    <% found_image = device_images.select{|k,v| k == form.equipment_type} %>
    <% if found_image.empty? %>
    <%  found_image = {"None" => "question.svg"} %> 
    <% end %> 
    <% # Encapsulating show link %>
    <%= link_to form, class: "net_form_row_a" do %>

        
            <div class="row col-sm-10 col-md-10 net_form_row">

                <div class="device_image col-md-2 col-sm-2 col-xs-6">
                    <%= image_tag(found_image.values.join(" ")) %>
                </div>

                <div class="col-md-3 col-sm-3">
                    <%= form.first_name + " " + form.last_name %>
                </div>

                <div class="col-md-2 col-sm-2">
                    <%= form.computer_name %>
                </div>

                <div class="col-md-4 col-sm-4">
                    <% if form.completed == "0" or form.completed == nil %>
                    <p> Incomplete </p>
                    <% elsif form.completed == "1" and form.expire_date != nil and form.complete_date != nil and Chronic.parse("today at 12:00am") > form.expire_date %>

                    <p> Form Expired </p>
                    
                    <% elsif form.completed == "1" and form.complete_date != nil and form.expire_date != nil and Chronic.parse("today at 12:00am") < form.expire_date %>

                    <p> This form expires in <%= distance_of_time_in_words(Chronic.parse("today at 12:00 am"), form.expire_date)%></p>
                    <% end %> 
                </div>

                <div class="col-md-1 col-sm-1">
                <!-- options put things in here soon -->
                </div>
            </div> 
        

    <% end %>
<% end %>
</div>
</div> 

