
<% # The index page will now handle the searches %>
<%= form_tag("/search", method: "get") do %>
 


<div class="row">
  <div class="col-lg-6 col-md-6 col-sm-6">
    <div class="input-group">
      <div class="input-group-btn">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"><span class="dropdown-text"> Search </span> <span class="caret"></span></button>
        <ul class="dropdown-menu" role="menu">
          <li class="dropdown-agent-name"><a>Agent Name</a></li>
          <li class="dropdown-computer-name"><a>Computer Name</a></li>
          <li class="divider"></li>
          <li><%= link_to "Advanced Search", advsearch_form_path %></li>
        </ul>
      </div><!-- /btn-group -->
      <% if params[:full_name] %>
        <%= text_field_tag(:full_name, params[:full_name], class: "form-control search-input", placeholder: "Agent Name") %>
      <% elsif params[:cpu_name] %>
        <%= text_field_tag(:full_name, params[:cpu_name], class: "form-control search-input", placeholder: "Computer Name") %>
      <% else %>
        <%= text_field_tag(:full_name, params[:full_name], class: "form-control search-input", placeholder: "Agent Name") %>
      <% end %>
    </div><!-- /input-group -->
  </div><!-- /.col-lg-6 -->
</div><!-- /.row -->
<% end %>



<%= render 'formResult' %>
