<!DOCTYPE html>
<html>
<head>
  <title>NetworkInstallRor</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
</head>
<body>
	<div class="container-fluid" >

<nav class="navbar navbar-default" role="navigation">
		<%= image_tag("copy.png", class: "navbar-brand") %>
		<%= link_to "Net Form", net_forms_path, class: "navbar-brand"%>
	<ul class="nav navbar-nav">
		<li>
			<%= link_to 'New form', new_net_form_path %>
		</li>
	</ul>
</nav>

<%= yield %>

<%= javascript_include_tag "application", "data-turbolinks-track" => true %>

</body>
</html>
