<!DOCTYPE html>
<html>
<head>

	<noscript>
	        <meta http-equiv="refresh" content="0.04;url=http://network-install-ror.herokuapp.com/enablejavascript">
	</noscript>

	<title>NetworkInstallRor</title>
	<%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
	<%= csrf_meta_tags %>
	<%= javascript_include_tag "application", "data-turbolinks-track" => true %>

	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
</head>

<body>

	<!-- Devise Flash Messages -->
	
	<% flash.each do |type, message| %>
		<p class="<%= type %>" style="display: none"><%= message %> </p>
	<% end %>
	


	<!-- Top Navigation Start -->
<% if user_signed_in? %>
	<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
		<div class="navbar-brand my-nav-brand">
			<%= image_tag("list.svg", class: "sidebar-button hidden-sm hidden-md hidden-lg", style: "cursor: pointer") %>
			<!-- put missint stuff here --><span class="nav-top-brand"> <%= image_tag("copy.png", class: " col-xs-offset-0 col-sm-offset-0 col-md-offset-0 col-lg-offset-0") %> Net Install </span>
		</div>
	</nav> <!-- Top Navigation end -->

	
		<div class="container-fluid">
			<div class="col-lg-2 col-md-2 col-sm-2 col-xs-5 hidden-xs sidebar">
				<ul class="nav nav-sidebar">
					<li><%= link_to "New Form", new_form_path %></li>
					<% if current_user.try(:role) == "admin" %>
					<li> <%= link_to "Search", search_path %> </li>
					<li><%= link_to "To Do", forms_path %></li>
					<br>
					<li><%= link_to "Manage Users", users_path %> </li>
					<li><%= link_to "New User", new_user_path %> </li>
					<br>
					<li><%= link_to "Sign-Out", destroy_user_session_path, method: "Delete" %></li>
					<% elsif current_user.try(:role) == "manager" %>
					<li> <%= link_to "Office Devices", search_path %> </li>
					<br>
					<li><%= link_to "Sign-Out", destroy_user_session_path, method: "Delete" %></li>
					<!-- Have link leading to office forms -->
					<% else #if its a user show my forms %>
					<li><%= link_to "My Devices", forms_path %></li>
					<br>
					<li><%= link_to "Sign-Out", destroy_user_session_path, method: "Delete" %>
				</li>
					<% end %>
				</ul>
			</div>
		<% end %>

		<!-- Page Content end -->

		<!-- sidebar_backdrop. Added so that when you have the sidebar open, you don't accidentally click anything when you close the side bar. Please don't remove -->
		<div class="sidebar_backdrop"> </div>
		<!-- sidebar_backdrop end -->
		
		<div class="col-lg-10 col-lg-offset-2 col-md-10 col-md-offset-2 col-sm-offset-2">
			<%= yield %>
		</div>


    




		<!-- Page Content end -->

	</div>

</body>
</html>

<%= javascript_include_tag "forms", "data-turbolinks-track" => true %>
