<!DOCTYPE html>
<html>
<head>
  <title>NetworkInstallRor</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
</head>
<body>

				<!-- Navigation Start -->
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
		<%= image_tag("copy.png", class: "navbar-brand") %>
		<div class="navbar-brand"> Net Form </div>
</nav>

<div class="container-fluid">
<div class="col-lg-2 col-md-2 hidden-xs hidden-sm sidebar">

		<ul class="nav nav-sidebar">
			<li><%= link_to "New Form", new_net_form_path %></li>
			<li><%= link_to "To Do", net_forms_path %></li>
			<li> <%= link_to "Search", search_path %> </li>
		</ul>

</div>

<div class="col-lg-10 col-lg-offset-2 col-md-10 col-md-offset-2">
<%= yield %>
</div>

</div>

<%= javascript_include_tag "application", "data-turbolinks-track" => true %>

</body>
</html>
